<!--
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

-->
<div class="container">
    <h1>Modifier Profile</h1>
    <hr>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"form-horizontal" }) do |f| %>
      <div class="row">
          <!-- left column -->
          
          <div class="col-md-4">
            <div class="text-center form-control-file border">
              <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
              <h6>Télécharger votre photo...</h6>
              <%= f.file_field :avatar %>
            </div>
          </div>
          
          <!-- edit form column -->
          <div class="col-md-8 personal-info">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a> 
              <i class="fa fa-coffee"></i>
              Entrez vos <strong>Information Personnelle</strong>.
            </div>
            <h3>Information Personnelle</h3>
            
               <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-group">
                <%= f.label :Nom, class:"col-lg-3 control-label" %><br />
     
                <div class="col-lg-8">
                      <%= f.text_field :firstname, autofocus: true, class: "form-control", autocomplete: "name" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :Prénom, class:"col-lg-3 control-label" %><br />
                <div class="col-lg-8">
                      <%= f.text_field :lastname, autofocus: true, class: "form-control", autocomplete: "lastname" %>
                </div>
              </div>

               <div class="form-group">
                <%= f.label :Téléphone, class:"col-lg-3 control-label" %><br />
                <div class="col-lg-8">
                      <%= f.text_field :phone, autofocus: true, class: "form-control", autocomplete: "phone" %>
                </div>
              </div>

            
              <div class="form-group">
                <%= f.label :addresse, class:"col-lg-3 control-label" %><br />
                <div class="col-lg-8">
                      <%= f.text_field :address, autofocus: true, class: "form-control", autocomplete: "address" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :email, class:"col-lg-3 control-label" %><br />

                <div class="col-lg-8">
                <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
                </div>
              </div>
              
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              
              
              <div class="form-group">
                      <%= f.label 'Mot de passe', class:"col-lg-3 control-label", style:'display:inline;' %><span style='font-size:9px;'>(Laisser vide si vous ne voulez pas changer votre mot de passe)</span><br />
                      <div class="col-lg-8">
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                     <!-- 
                      <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> caractères minimum</em>
                        <% end %>
                     --> 
                </div>

                    </div>

                    <div class="form-group">
                      <%= f.label 'Confirmation', class:"col-lg-3 control-label", style:'display:inline;' %><span style='font-size:9px;'  >(6 caractères minimum)</span><br />
                <div class="col-lg-8">

                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                    </div>
                  </div>

                    <div class="form-group">
                      <%= f.label 'Mot de passe actuel', class:"col-lg-3 control-label", style:'display:inline;' %> <span style='font-size:9px;'  >(Entrez votre mot de passe pour valider les changements)</span><br />
                <div class="col-lg-8">

                      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                    </div>
                    </div>
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                  <div class="row">
                  <%= f.submit "Valider", class: "btn btn-lg btn-primary col-lg-4", style: "margin-left:18px; margin-right: 30px;" %>
                 
                  <%= link_to "Annuler", :back, class: "btn btn-lg btn-danger col-lg-4" %>
                    
                  </div>
                </div>
              </div>
          </div>
      </div>
  <% end %>
</div>
<hr>