<section class="section-cta py-5 bg-primary text-white">
    <div class="container">
        <div class="text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="<%= image_url('tryprofil.jpg')%>" alt="">
        </div>
        <h3 class="section-title font-weight-bold text-center mb-2">Mon profil vous intéresse?</h3>
        <div class="section-intro mx-auto text-center mb-3">
            Vous êtes à la recherche d'un développeur fullstak web spécialisé en Ruby On Rails ou PHP/Symfony 4 pour développer votre application web? Contactez-moi via mon émail  <a class="link-on-bg" href="mailto:<%= @user.email %>"><%= @user.email %></a> ou envoie moi un message via <a class="link-on-bg" href="#"> ce formulaire de contact</a>.
        </div>
        <div class="text-center">
            <a class="theme-btn-on-bg btn" href="#">Contactez-moi</a>
        </div>
    </div><!--//container-->
</section>
