<%= render "shared/portfolio_nav"%>
<div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container">
		        <h2 class="page-heading mb-0">Contactez-moi</h2>
		        
    </div><!--//container-->
</div><!--//header-intro-->

 <section class="section py-5">
        <div class="container">
            <div class="row">
		        <div class="contact-intro col-lg-8 mx-lg-auto mb-5 text-center">
			        
			        <img class="profile-small d-inline-block mx-auto rounded-circle mb-3" src="<%= image_url('tryprofil.jpg')%>" alt="">
			        
			        <div class="speech-bubble bg-white p-4 p-lg-5 shadow-sm">
				        <p class="text-left mb-3">
						Je suis un développeur junior full stack spécialisé en Ruby, à la recherche d’un poste stagiaire développeur web junior PHP ou Ruby. Ayant déjà réalisé quelques projets personnels, je cherche de continuité pour solidifier mes compétences en développement web.
			<br>    Souhaitez-vous connaître mes parcours académiques ou de projet que j’ai contribué ? Suivez ces liens  <a href="<%= resume_index_path %>"> Mon parcours </a>  ou <a href="<%= project_index_path %>">Mes projets</a>.
				        <h6 class="font-weight-bold text-center mb-3">Vous pouvez aussi me contactez sur :</h6>
				        
				        <ul class="social-list-color list-inline mb-0">				            
			                <li class="list-inline-item mb-3"><a class="linkedin" href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="github" href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="stack-overflow" href="#"><i class="fab fa-gitlab fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="facebook" href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
			                <!--<li class="list-inline-item"><a class="instagram" href="#"><i class="fab fa-instagram fa-fw"></i></a></li>-->
			            </ul><!--//social-list-->
			        </div>
			        
		        </div><!--//contact-intro-->
				 <%= form_tag contact_new_path, method: "POST" , class: "contact-form col-lg-8 mx-lg-auto", id:"contact-form" do %>
			        <h3 class="text-center mb-3">Contactez-moi</h3>
			        <div class="form-row">                                                           
		                <div class="form-group col-md-6">
		                    <label class="sr-only" for="cname">Nom</label>
		                    <input type="text" class="form-control" id="cname" name="name" placeholder="Nom" minlength="2" required="" aria-required="true">
		                </div>                    
		                <div class="form-group col-md-6">
		                    <label class="sr-only" for="cemail">Email</label>
		                    <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required="" aria-required="true">
		                </div>
		                <div class="form-group col-12">
		                    <label class="sr-only" for="cmessage">Message</label>
		                    <textarea class="form-control" id="cmessage" name="message" placeholder="Envoyer-moi un message" rows="10" required="" aria-required="true"></textarea>
		                </div>
		                
						<div class="form-group col-12">
							<%= submit_tag "Envoyer", class: "btn btn-block btn-primary py-2"%>
						</div>                          
		            </div><!--//form-row-->
		        <% end %>
		        
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//section-->

<%= render 'shared/footer'%>