<div class="header-intro theme-bg-primary text-white py-5">
	<div class="container">
		<div class="profile-teaser media flex-column flex-md-row">
			<!-- <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="assets/images/profile.jpg" alt="">-->
			<img src="<%= image_url("tryprofil.jpg") %>" alt="Image" class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto">
			<div class="media-body text-center text-md-left">
			<div class="lead">Bonjour, je m'appelle</div>
			<h2 class="mt-0 display-6 font-weight-bold"><%= @user.lastname %> <%= @user.firstname %> </h2>
			<div class="bio mb-3">
					Je suis un développeur junior full stack spécialisé en Ruby, à la recherche d’un poste stagiaire développeur web junior PHP ou Ruby. Ayant déjà réalisé quelques projets personnels, je cherche de continuité pour solidifier mes compétences en développement web.
			<br>    Souhaitez-vous connaître mes parcours académiques ou de projet que j’ai contribué ? Suivez ces liens  <a class="link-on-bg" href="<%= resume_index_path %>"> Mon parcours </a>  ou <a class="link-on-bg" href="<%= project_index_path %>">Mes projets</a>.
				
			</div><!--//bio--> 
			<a class="theme-btn-on-bg btn font-weight-bold theme-btn-cta" href="contact.html">Embauchez-moi</a>
			
			</div><!--//media-body-->
		</div><!--//profile-teaser-->
		
	</div><!--//container-->
</div><!--//header-intro-->