<section class="section-featured-projects py-5">
        <div class="container">
	        <h3 class="section-title font-weight-bold text-center mb-5">Projets</h3>
        
	        <div class="project-cards row mb-5 isotope">
		        <div class="isotope-item col-12 col-lg-4 ruby rails">
					<div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="<%= image_url('projects/hoomies1.png')%>" alt="">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo">
								    <h5 class="card-title font-weight-bold" style="font-size:30px; margin-top:25px;">Hoomies</h5>
                                </div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="<%= project_hoomies_path %>">
								<h5 class="card-title font-weight-bold" style="margin-bottom:0px;">Hoomies</h5>
							    <p class="card-text">Hoomies est une plateforme digital qui a pour but de relier les propriétaires de biens immobiliers et les locataires ou acheteurs sans passer par une agence immobilière.</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="<%= project_hoomies_path %>">Vente/Location imobilières</a></h4>
						</div>
						
						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Ruby</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Rails</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">PostgresSQL</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML/CSS</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">OpenStreetMap</span></li>

							</ul>
					    </div>
				    </div><!--//card-->
		        </div>
		        <div class="isotope-item col-12 col-lg-4 php symfony react">
					<div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="<%= image_url('projects/vegefoods2.png')%>" alt="">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo">
								    <h5 class="card-title font-weight-bold" style="font-size:30px; margin-top:25px;">Vegefoods</h5>
                                </div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="<%= project_vegefoods_path %>">
								<h5 class="card-title font-weight-bold" style="margin-bottom:0px;">Vegefoods Mada</h5>
							    <p class="card-text">Projet personnel en cours de développement, Vegefoods est une application web permettant d’acheter des fruits et de légumes en ligne.</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="<%= project_vegefoods_path %>">Vente de Fruits et Légumes</a></h4>
						</div>
						
						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >PHP</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Symfony 4</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">jQuery</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">MySQL</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">OpenStreetMap</span></li>
							</ul>
					    </div>
				    </div><!--//card-->
		        </div>
		        <div class="isotope-item col-12 col-lg-4 ruby rails">
					<div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="<%= image_url('projects/project-3-thumb.jpg')%>" alt="">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo">
								    <h5 class="card-title font-weight-bold" style="font-size:30px; margin-top:25px;">CatStore</h5>
                                </div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="<%= project_catstore_path %>">
								<h5 class="card-title font-weight-bold" style="margin-bottom:0px;">CatStore</h5>
							    <p class="card-text">Catstore est une application web que on a développé pour solidifer mes compétences en ruby on rails. C’est une plateforme  de vente des chats en ligne.</p>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0"><a href="<%= project_catstore_path %>">Projet personnel</a></h4>
						</div>
						
						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Ruby</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill" >Rails</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">PostgresSQL</span></li>
						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Bootstrap</span></li>						        <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Javascript/JQuery</span></li>

							</ul>
					    </div>
				    </div><!--//card-->
		        </div>
			    
	        </div><!--//row-->
	        <div class="text-center">
	            <a class="btn btn-primary" href="<%= project_index_path %>">Tous mes projects</a>
	        </div>
        </div><!--///container-->
        
</section>