<style>
    .skills-block-inner {
        height: 304px;
    }
</style>
<section class="skills-section section py-5">
        <div class="container">
	        <h3 class="section-title font-weight-bold text-center mb-3">Compétences</h3>
	        <div class="section-intro mx-auto text-center mb-5 text-secondary">
La réalisation de quelques projets en ruby et php,m’ a permit de maîtriser différents technologies de développement informatique. Ci-dessous, les technologies que j’ai déjà utilisées :			</div>
	        
	        <div class="skills-blocks mx-auto pt-5">
		        <div class="row">
			        <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
				        <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
					        <h4 class="skills-cat text-center mb-3 mt-5">Frontend</h4>
					        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
					            <img class="skills-icon" src="<%= image_url('frontend-icon.svg') %>">
					        </div>
					        <ul class="skills-list list-unstyled text-secondary">
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Javascript</li>						        
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>AngularJs (Notion)</li>
                                <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Jquery</li>
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Bootstrap</li>
					        </ul>
				        </div><!--//skills-block-inner-->
			        </div><!--//skills-block-->
			        
			        <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
				        <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
					        <h4 class="skills-cat text-center mb-3 mt-5">Backend</h4>
					        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
					           <img class="skills-icon" src="<%= image_url('backend-icon.svg') %>">
					        </div>
					        <ul class="skills-list list-unstyled text-secondary">
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Ruby/Rails</li>
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>PHP/Symfony 4</li>
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>MySql/PostgreSQL</li>
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>SQLite</li>
					        </ul>
				        </div><!--//skills-block-inner-->
			        </div><!--//skills-block-->
			        
			        <div class="skills-block col-12 col-lg-4">
				        <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
					        <h4 class="skills-cat text-center mb-3 mt-5">Autres</h4>
					        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                                <img class="skills-icon" src="<%= image_url('other-skills-icon.svg') %>">   
					        </div>
					        <ul class="skills-list list-unstyled text-secondary">
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i> Git </li>
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Wordpress</li>
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Doctrine</li>
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>OpenStreetMap</li>
					        </ul>
				        </div><!--//skills-block-inner-->
			        </div><!--//skills-block-->
			        
		        </div><!--//row-->
	        </div>
        </div><!--//container-->
</section><!--//skills-section-->